.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60px;
  background-color: #f8f9fa;
  h1 {
    font-size: var(--size36);
  }
}
.home-header.full {
  width: 100%;
}
.map-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
}

@media screen and (max-width: 768px) {
  .home-header {
    width: 100%;
    h1 {
      font-size: var(--size24);
    }
  }
  .map-box {
    width: 100%;
    height: 450px;
  }
}
