#table-devices {
  width: 100%;
  border-collapse: collapse;
  border: none;
  thead {
    background-color: rgb(234, 232, 232);
    border-radius: var(--size12);
    th {
      padding: var(--size12);
      font-size: var(--size20);
      font-weight: 700;
      text-align: left;
      border-bottom: 1px solid rgb(63, 63, 63);
    }
    th:last-child {
      text-align: right;
    }
  }
  tbody {
    tr {
      background-color: white;
      cursor: pointer;
      td {
        padding: var(--size12);
        font-size: var(--size16);
        font-weight: 500;
      }
    }
    tr:nth-child(even) {
      background-color: rgb(250, 247, 247);
    }
    tr:hover {
      background-color: rgb(234, 232, 232);
    }
    td:last-child {
      text-align: right;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: var(--size12);
      img {
        width: var(--size24);
        cursor: pointer;
      }
    }
  }
}

.devices-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}