.popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size12);
  strong {
    font-size: var(--size16);
    text-transform: uppercase;
  }
  button {
    background-color: red;
    color: white;
    padding: var(--size8) var(--size12);
    border: none;
    border-radius: var(--size4);
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgb(252, 175, 175);
      color: black;
    }
  }
}
