#base-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  .content {
    display: flex !important; /* !important is used to override user-agent styleshee which some browsers have */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size24);
    background-color: #fefefe;
    margin: auto;
    padding: var(--size24);
    border: 1px solid #888;
    width: 500px;
    max-width: 100%;
    border-radius: var(--size12);
    animation: moveFromLeft 0.5s ease-in-out;
    .header-modal {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: var(--size20);
        color: black;
        &:hover {
          color: red;
        }
      }
    }
    .error-message {
      color: red;
      font-size: var(--size18);
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  #base-modal {
    .content {
      width: 100%;
    }
  }
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
