@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root {
  font-family: Inter;
  font-size: 16px;
  --remMobile: calc(16 * 100vw / 360);
  --remDesktop1140: calc(16 * 100vw / 1140);
  --remDesktop1440: calc(16 * 100vw / 1440);
  --remDesktop1920: calc(16 * 100vw / 1920);
  --size2: 0.125rem;
  --size4: 0.25rem;
  --size6: 0.375rem;
  --size8: 0.5rem;
  --size10: 0.625rem;
  --size12: 0.75rem;
  --size13: 0.8125rem;
  --size14: 0.875rem;
  --size16: 1rem;
  --size18: 1.125rem;
  --size20: 1.25rem;
  --size24: 1.5rem;
  --size28: 1.75rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 2.75rem;
  --size48: 3rem;
  --size56: 3.5rem;
  --size64: 4rem;
  --size72: 4.5rem;
  --size80: 5rem;
  --size88: 5.5rem;
  --size96: 6rem;
  --size200: 12.5rem;
  --size300: 18.75rem;
}

@media (max-width: 600px) {
  :root {
    font-size: var(--remMobile);
  }
}

@media (min-width: 601px) and (max-width: 1140px) {
  :root {
    font-size: var(--remDesktop1140);
  }
}

@media (min-width: 1141px) and (max-width: 1440px) {
  :root {
    font-size: var(--remDesktop1440);
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  :root {
    font-size: var(--remDesktop1920);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  cursor: pointer;
}